# Intellij IDEA #
#################
.idea
*.iws
*.iml
*.ipr

# Compiled source #
###################
*.class
*.jar
*.war

# Logs and databases #
######################
log/
*.log

# Document #
############
*.txt

target/

